<div class="card-principal" style="max-width: 700px; margin: 40px auto; padding: 30px; border: 1px solid #ddd; border-radius: 15px; text-align: center;">
  <h1 style="color: #D71920;"><%= @produto.nome %></h1>
  <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">

  <div style="font-size: 18px; margin-bottom: 30px; text-align: left;">
  <p><strong>Valor de Custo (Compra/Produção):</strong> <%= number_to_currency(@produto.valor_unitario) %></p>
  <p><strong>Preço de Venda:</strong> <%= number_to_currency(@produto.preco_venda) %></p>
  <hr>
  <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">
  <p> Centro: <%= @produto.estoque_centro || 0 %> <%= @produto.unidade_medida %></p>
  <p> Pavilhão Novo: <%= @produto.estoque_pavilhao_novo || 0 %> <%= @produto.unidade_medida %></p>
  <p> Pavilhão Antigo: <%= @produto.estoque_pavilhao_antigo || 0 %> <%= @produto.unidade_medida %></p>
</div>

  <div style="margin-top: 30px; display: flex; align-items: center; justify-content: center; gap: 25px;">
  
  <%# Botão de Editar apenas para Admin - Agora em Vermelho %>
  <% if current_funcionario.admin? %>
    <%= link_to "EDITAR LANCHE", edit_cardapio_path(@produto), 
        style: "background-color: #D71920; color: white; padding: 12px 25px; border-radius: 8px; text-decoration: none; font-weight: bold; border: none; cursor: pointer;" %>
  <% end %>

  <%# Link de Voltar - Agora no padrão Azul Sublinhado %>
  <%= link_to "VOLTAR PARA O CARDÁPIO", cardapio_index_path, 
      style: "color: #0000FF; text-decoration: underline; font-family: sans-serif;" %>

</div>
</div>