<p style="color: green"><%= notice %></p>

<%= render @pedido %>

<div style="margin-top: 20px;">
  <%= link_to "Editar este pedido", edit_pedido_path(@pedido), style: "color: #D71920; text-decoration: none; margin-right: 15px;" %> |
  <%= link_to "Voltar aos pedidos", pedidos_path, style: "color: #666; text-decoration: none; margin-left: 15px;" %>

  <div style="margin-top: 30px;">
    <%= button_to "Excluir este pedido", @pedido, method: :delete, class: "btn-perigo", data: { confirm: "Tem certeza que deseja cancelar este pedido?" } %>
  </div>
</div>