<div id="<%= dom_id movimentacao %>">
  <div>
    <strong>Produto:</strong>
    <%= movimentacao.produto_id %>
  </div>

  <div>
    <strong>Origem:</strong>
    <%= movimentacao.origem %>
  </div>

  <div>
    <strong>Destino:</strong>
    <%= movimentacao.destino %>
  </div>

  <div>
    <strong>Quantidade:</strong>
    <%= movimentacao.quantidade %>
  </div>

  <div>
    <strong>Funcionario:</strong>
    <%= movimentacao.funcionario_id %>
  </div>

</div>
