<%= form_with(model: produto) do |form| %>
  <% if produto.errors.any? %>
    <div style="color: red">
      <h2><%= produto.errors.count %> <%= produto.errors.count > 1 ? "erros impediram" : "erro impediu" %> de salvar este produto:</h2>
      <ul>
        <% produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :valor_unitario, style: "display: block" %>
    <%= form.text_field :valor_unitario %>
  </div>

 <div class="field" style="margin-bottom: 20px;">
  <%= form.label :categoria, "Tipo do Item (Venda ou Insumo)", style: "display: block; font-weight: bold;" %>
  <%= form.select :categoria, ["Venda", "Insumo"], {}, class: "input-estilizado", style: "width: 100%; padding: 8px; border-radius: 10px; border: 1px solid #ccc;" %>
 </div>

 <div class="field" style="margin-bottom: 15px;">
  <%= form.label :unidade_medida, "Medida do Produto (Ex: Kg, Un, Litro)" %>
  <%= form.select :unidade_medida, ["Unidade", "Kg", "Gramas", "Litro", "Caixa"], {}, class: "input-estilizado" %>
</div>

  <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">
  <h3 style="color: #856404; background-color: #FFF3CD; padding: 10px; border-radius: 5px; font-size: 1em;">Estoques por Unidade</h3>

  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px; margin-bottom: 20px;">
    <div>
      <%= form.label :estoque_centro, "Matriz Centro", style: "display: block; font-weight: bold;" %>
      <%= form.number_field :estoque_centro, style: "width: 100%; padding: 8px; border-radius: 10px; border: 1px solid #ccc;" %>
    </div>

    <div>
      <%= form.label :estoque_pavilhao_novo, "Pavilhão Novo", style: "display: block; font-weight: bold;" %>
      <%= form.number_field :estoque_pavilhao_novo, style: "width: 100%; padding: 8px; border-radius: 10px; border: 1px solid #ccc;" %>
    </div>

    <div>
      <%= form.label :estoque_pavilhao_antigo, "Pavilhão Antigo", style: "display: block; font-weight: bold;" %>
      <%= form.number_field :estoque_pavilhao_antigo, style: "width: 100%; padding: 8px; border-radius: 10px; border: 1px solid #ccc;" %>
    </div>
  </div>

  <div>
    <%= form.submit "SALVAR ITEM NO ESTOQUE", class: "btn-quero", style: "width: 100%; margin-top: 20px;" %>
  </div>
<% end %>
