<div class="card-principal" style="max-width: 1100px; margin: 40px auto; text-align: center;">
  <h1 style="color: var(--vermelho-quero); margin-bottom: 30px;">Gestão de Estoque Geral</h1>

  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Matriz Centro</th>
        <th>Pavilhão Novo</th>
        <th>Pavilhão Antigo</th>
        <th style="text-align: center;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><strong><%= produto.nome %></strong></td>
          <td><%= number_to_currency(produto.valor_unitario, unit: "R$ ", separator: ",", delimiter: ".") %></td>
          
          <%# Usando os campos corretos que vi no seu print %>
          <td><%= produto.estoque_centro.to_i %></td>
          <td><%= produto.estoque_pavilhao_novo.to_i %></td>
          <td><%= produto.estoque_pavilhao_antigo.to_i %></td>
          
          <td style="text-align: center;">
            <%= link_to "Ver", produto, style: "color: #555; margin-right: 10px;" %>
            
            <% if current_funcionario.admin? %>
              <%= link_to "Editar", edit_produto_path(produto), style: "color: var(--vermelho-quero); font-weight: bold;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_funcionario.admin? %>
    <div style="margin-top: 30px;">
      <%= link_to "CADASTRAR NOVO PRODUTO", new_produto_path, class: "btn-quero" %>
    </div>
  <% end %>
</div>
