<div class="card-principal" style="max-width: 900px; margin: 40px auto; text-align: center;">
  <h1 style="color: var(--vermelho-quero); margin-bottom: 30px;">Equipe Quero Lanches</h1>

  <table>
    <thead>
      <tr>
        <th>Nome do Colaborador</th>
        <th>E-mail</th>
        <th>Cargo</th>
        <th style="text-align: center;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @funcionarios.each do |funcionario| %>
        <tr>
          <td><strong><%= funcionario.nome %></strong></td>
          <td><%= funcionario.email %></td>
          <td><%= funcionario.admin? ? "Administrador" : "Funcionário" %></td>
          <td style="text-align: center;">
          <%# Aplicando o azul padrão de navegação da Cantina Adri Lanches %>
          <%= link_to 'Perfil', funcionario_path(funcionario), 
          style: "color: #0000FF; text-decoration: underline; font-family: sans-serif;" %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div style="margin-top: 30px;">
    <%= link_to "CADASTRAR FUNCIONÁRIO", new_funcionario_path, class: "btn-quero" %>
  </div>
</div>
