<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quero Lanches - Sistema de Gestão" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Quero Lanches">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

       <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <nav class="navbar-quero">
  <%# Logo centralizada com link para a home %>
  <%= link_to root_path do %>
    <%= image_tag "logo.png", size: "100x100", alt: "Logo Quero Lanches" %>
  <% end %>

  <%# Botão de Início adicionado aqui %>
  <div style="margin-top: 10px;">
    <%= link_to "🏠 INÍCIO / ALERTAS", root_path, style: "text-decoration: none; color: white; background: #D71920; padding: 8px 20px; border-radius: 20px; font-weight: bold; font-size: 0.8em; border: 2px solid white;" %>
  </div>
</nav>
  
  <div style="margin-top: 15px; display: flex; justify-content: center; flex-wrap: wrap; gap: 15px; align-items: center;">
    <% if funcionario_signed_in? %>
      <%= link_to "CARDÁPIO", produtos_path, class: "nav-link-quero" %>
      <%= link_to "CLIENTES", clientes_path, class: "nav-link-quero" %>
      
      <% if current_funcionario.admin? %>
        <%= link_to "FUNCIONÁRIOS", funcionarios_path, class: "nav-link-quero" %>
      <% end %>

      <%= link_to "PEDIDOS", pedidos_path, class: "nav-link-quero" %>

      <% if current_funcionario.admin? %>
        <%= link_to "FATURAMENTO", relatorios_path, class: "nav-link-quero" %>
      <% end %>

      <%# Botão de Sair com destaque %>
      <%= link_to "SAIR", "/funcionarios/sign_out", class: "nav-link-quero", 
          style: "border: 2px solid var(--vermelho-quero); padding: 5px 15px; border-radius: 20px; font-size: 13px;" %>
    <% else %>
      <%= link_to "ENTRAR", new_funcionario_session_path, class: "nav-link-quero" %>
    <% end %>
  </div>
</nav>

  <div style="padding: 20px;">

   <% if notice %>
  <p style="padding: 15px; background-color: #d4edda; color: #155724; border-radius: 10px; text-align: center; margin: 10px;">
    <%= notice %>
  </p>
<% end %>

<% if alert %>
  <p style="padding: 15px; background-color: #f8d7da; color: #721c24; border-radius: 10px; text-align: center; margin: 10px;">
    <%= alert %>
  </p>
<% end %>

    <%= yield %>
  </div>
</body>